<div class="text-center">
  <h4><%= t('.editing') %>: <%= @product_category.description %></h4>
</div>
<div class="container h-100">
  <%= render partial: 'product_categories/components/errors.html.erb' %>
  <div class="d-flex justify-content-center h-100">
    <div class="user-card-form">
      <%= form_with(model: @product_category, local: true) do |form| %>
        <%= render partial: 'product_categories/components/form.html.erb',
            locals: { form: form } %>
        <div class="row btn-actions">
          <div class="col-lg-6 mt-3">
            <%= link_to t('.cancel'), product_categories_path, class: 'btn btn-danger btn-user btn-block' %>
          </div>
          <div class="col-lg-6 mt-3">
            <button class="btn btn-primary btn-user btn-block">
              <%= t('.edit') %>
            </button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
