<%= link_to dashboard_index_path, class: 'list-group-item list-group-item-action',
                                  style: "color: #{current_user.enterprise.secondary_color};
                                          background-color: #{current_user.enterprise.primary_color} !important" do %>
  <i class="fas fa-tachometer-alt"></i>
  <span><%= t('layouts.application.dashboard') %></span>
<% end %>
<%= link_to providers_index_path, class: 'list-group-item list-group-item-action',
                                  style: "color: #{current_user.enterprise.secondary_color};
                                          background-color: #{current_user.enterprise.primary_color} !important" do %>
  <i class="fas fa-people-carry"></i>
  <span><%= t('layouts.application.providers') %></span>
<% end %>
<%= link_to product_categories_index_path, class: 'list-group-item list-group-item-action',
                                  style: "color: #{current_user.enterprise.secondary_color};
                                          background-color: #{current_user.enterprise.primary_color} !important" do %>
  <i class="fas fa-fw fa-list-alt"></i>
  <span><%= t('layouts.application.product_categories') %></span>
<% end %>
